$fontgray:  rgb(179, 179, 179);
$orangetitle: #ff4422;
html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: #EFEFEF;
}

.black-nav {
  visibility: hidden;
  width: 0;
  height: 0;
}

.main-nav {
  width: 375px;
  max-width: 400px;
  height: 50px;
  display: flex;
  background: white;
  font-size: 25px;
  justify-content: space-between;
  .nav-logo {
    width: 25%;
    height: 50px;
    cursor: pointer;
  }

  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
    border-left:1px solid $fontgray ;
    padding-left: 15px;
    color: $fontgray;
    font-size: 20px;
  }

  .nav-icon {
    display: flex;
    width: 20%;
    height: 50px;
    cursor: pointer;
  }
  .nav-bars {
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border-left:1px solid $fontgray ;
    color: $orangetitle;
  }
  
  ul {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.main-img-container {
  width:90%;
  height: 730px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  h1{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
  }
  p {
    font-size: 12px;
    color: $fontgray;
    margin-bottom: 10px;
  }
  h2{
    font-size: 14px;
    color: white;
    cursor: pointer;
  }
}

.tnw-logo {
  visibility: hidden;
  width: 0;
  height: 0;
}

.big-img, .side-img {
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: flex-end;
  background: url(img/India-Flag.jpg);
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 10px;
}

.side-img-container {
  width: 100%;
  height: 480px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.grid-title{
  font-size: 24px;
  color: $orangetitle;
  font-weight: 700;
  width: 80%;
  height: 30px;
  margin: 10px;
  :hover {
    color: black;
    cursor: pointer;
  }
}

.grid-container {
  width: 90%;
  height: 750px;
  grid-template-columns: 100%;
  grid-template-rows: repeat(8, 75px);
  gap: 10px;
}

.grid-element {
  width: 100%;
  height: 75px;
  display: flex;
  padding: 10px;
  img {
    width: 75px;
    height: 75px;
    cursor: pointer;
  }
  h3 {
    font-size: 14px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 10px;
    line-height: 20px;
    &:hover {
      color: $orangetitle;
      text-decoration: underline;
      cursor: pointer;
    }

    span {
      color: #AAA;
      font-size: 12px;
      &:hover {
        color: black;
        cursor: pointer;
      }
    }
  }
}

.latest-title, .deals-title {
  width: 80%;
  height: 155px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  color: $orangetitle;
  font-weight: 700;
  line-height: 30px;
  margin: 10px;
  h2 {
    font-size: 16px;
    font-weight: normal;
  }
  :hover {
    color: black;
    cursor: pointer;
  }
}

.latest-funding {
  width: 90%;
  height: 880px;
  display: flex;
  flex-direction: column;
}

.lf-container {
  width: 100%;
  height: 260px;
  padding: 10px;

  img {
    float: left;
    margin: 10px;
    cursor: pointer;
  }

  h1 {
    font-size: 18px;
    color: white;
    background: $orangetitle;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
    color: black;
    background: #FFEBE8;
    line-height: 20px;
    padding-top: 10px;
    cursor: pointer;

    span {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: $fontgray;
    cursor: pointer;
  }
  }


  h3 {
    cursor: pointer;
    font-size: 13px;
    color: #555;
    background: #FFF9F8;
    line-height: 20px;
    padding: 15px;
    padding-top: 30px;
    border-bottom: 1px solid $orangetitle;
  }

  p {
    font-size: 12px;
    background: #FFF9F8;
    padding: 15px;
    padding-top: 30px;
    color: #555;
    line-height: 20px;
    cursor: pointer;
  }
}

.special-one{
  visibility: hidden;
  width: 0;
  height: 0;
}

.main-article-container {
  width: 90%;
  height: 6330px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  article {
    width: 100%;
    height: 688px;
    margin-bottom: 10px;
    h5 {
      padding-top: 20px;
      height: 40px;
      color: $orangetitle;
      font-size: 28px;
      font-weight: bold;
        &:hover {
          color: black;
          cursor: pointer;
      }
    }
  }
}

.article-top-img {
  width: 100%;
  height: 275px;
  background: url(img/facebook.png);
  background-repeat: no-repeat;
  background-size: 92% 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
  h2 {
    font-size: 14px;
    padding-bottom: 10px;
    font-weight:500;
  }
  h1 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  }
  h3 {
    font-size: 12px;
    color: $fontgray;
    &:hover {
    color: white;
    cursor: pointer;
  }
  }
}

.orange-article {
  width: 100%;
  height: 100px;
  color: $orangetitle;
  background:#FFEBE8 ;
  img {
    clear: both;
    width: 100px;
    height: 100px;
    float: right;
    cursor: pointer;
  }
  h2 {
    font-size: 13px;
    padding: 10px;
  }
  h3 {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 0;
    &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  }
}

.article-list {
    width: 95%;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    li {
        font-size: 13px;
        color: #555;
        border-bottom: 1px solid lightgrey;
        padding-top: 10px ;
        padding-bottom: 10px;
    }
    ul {
        list-style: circle;
        margin-left: 10px;
    }

    &:hover { 
      color: black;
      cursor: pointer;
    }
}

.deals-title {
  height: 70px;
}

.footer {
  display: flex;
  width: 100%;
  height: 250px;
  flex-direction: column;
}

.footer-icons {
  width: 100%;
  height: 100px;
  display: flex;
  background: #131313;
  justify-content: center;
  align-items: center;
}

.icon-container {
width: 40px;
height: 40px;
background: #333;
display: flex;
justify-content: center;
align-items: center;
border-radius: 30px;
font-size: 20px;
margin-right: 5px;
color: white;
cursor: pointer;
&:hover {
  background: black;
  border: 3px solid #333 ;
}
}

.footer-links {
width: 100%;
height: 50px;
display: flex;
background: #131313;
justify-content: center;
align-items: center;
ul {
  display: flex;
  font-size: 12px;
  color: #AAA;
}
li {
  margin-top: -20px;
  margin-right: 10px;
  &:hover {
    color: white;
    cursor: pointer;
  }
}
}

.copyright {
width: 100%;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
background: black;
color: #AAA;
font-size: 12px;
line-height: 20px;
text-align: center;

span {
  color: white;
  cursor: pointer;
}
p {
  width: 70%;
}
}
